/* display of calculator */
#result {
	font-size: 30px;
	text-align: right;
	border: 5px solid black;
	width: 300px;
	height: 35px;
	background-color: gray;
	padding: 20px;
}

/* frame of calculator */
.buttons {
	border: 5px solid black;
	height: 270px;
	width: 340px;
	background-color: gray;
}

/* Styling for all buttons */
.buttons div div:hover {
	background-color: red;
}

.buttons div div {
	margin: 10px;
	padding: 10px;
	width:25px;
	height: 25px;
	border-radius: 10px;
	float: left;
	background-color: white;
}

/* 0 - 9 */
.buttons .values {
	width: 205px;
	float: left;
}

/* Functions */
.buttons .functions {
	float: left;
	width: 130px;
}